.popup__container{
    box-sizing: border-box;
    padding: 34px 36px 37px 36px;
    position: relative;
    width: 430px;
    height: 330px;
    background: #fff;
    border-radius: 10px;
}

@media screen and (max-width:550px) {
    .popup__container{
        width: 282px;
        height: 322px;
        padding: 25px 22px 25px 22px;
    }
}
