.header__logo{
    width: 142px;
    height: 33px;
    background: url(../../../images/header-logo.svg) no-repeat center center;
    transition: .2s;
}

.header__logo:hover{
    background: url(../images/header-logo-black.svg) no-repeat center center;
}


@media screen and (max-width:880px){
    .header__logo{
        margin-left: 27px;
    }
}