@font-face {
    font-family: 'Main';
    src: url('Inter-Regular.woff') format('woff'),
        url('Inter-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Main';
    src: url('Inter-Medium.woff') format('woff'),
        url('Inter-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Main';
    src: url('Inter-Black.woff') format('woff'),
        url('Inter-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
