.profile__avatar{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 100px;
}

@media screen and (max-width:710px){
    .profile__avatar{
        margin-right: 0;
    }
}